/* .intro{
    width: 100%;
    height: 100vh;
    position: relative;
     display: block; 
} */
 body{
    background-color: rgb(58, 54, 54);
 }
    .intro {
      position: relative;
      width: 100%;
      height: 100vh;
      /* overflow: hidden; */
    }

    .intro img {
      width: 100%;
      height: 100%;
      /* object-fit: cover; */
    }

    .main_intro {
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      text-align: left;
      /* background-color: rgba(255, 255, 255, 0.7); */
      padding: 20px;
      border-radius: 10px;
      font-family: "Cal Sans", sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 2rem;
    }

    .hai,
    .name {
      color: red;
    }

    @media screen and (max-width: 576px) {
      .main_intro {
        top: auto;
        bottom: 35%;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
        font-size: 1.3rem;
        width: 90%;
      
      }
       .intro img {
        display: none;
        }
        .intro{
              background-image: url("source/mypic_1-Picsart-AiImageEnhancer.jpg");
              background-size: cover;
        }
    }
    .skill_name{
        text-decoration: underline;
    }
    .html_1{
        width: 250px;
        height: 5px;
        background-color: whitesmoke;
        border-radius: 10px
    }
    .css_1{
        width: 200px;
        height: 5px;
        background-color: whitesmoke;
        border-radius: 10px
    }
    .css_2{
        width: 50px;
        height: 5px;
        background-color: rgb(31, 30, 30);
        border-radius: 10px
    }
    .js_1{
        width: 150px;
        height: 5px;
        background-color: whitesmoke;
        border-radius: 10px
    }
    .js_2{
        width: 100px;
        height: 5px;
        background-color: rgb(31, 30, 30);
        border-radius: 10px
    }
    .bs_1{
        width: 170px;
        height: 5px;
        background-color: whitesmoke;
        border-radius: 10px
    }
    .bs_2{
        width: 80px;
        height: 5px;
        background-color: rgb(31, 30, 30);
        border-radius: 10px
    }
    .py_1{
        width: 220px;
        height: 5px;
        background-color: whitesmoke;
        border-radius: 10px
    }
    .py_2{
        width: 30px;
        height: 5px;
        background-color: rgb(31, 30, 30);
        border-radius: 10px
    }
    .mysql_1{
        width: 150px;
        height: 5px;
        background-color: whitesmoke;
        border-radius: 10px
    }
    .mysql_2{
        width: 100px;
        height: 5px;
        background-color: rgb(31, 30, 30);
        border-radius: 10px
    }
    .fl_1{
        width: 150px;
        height: 5px;
        background-color: whitesmoke;
        border-radius: 10px
    }
    .fl_2{
        width: 100px;
        height: 5px;
        background-color: rgb(31, 30, 30);
        border-radius: 10px
    }